* {
    font-family: sans-serif;
    color: #2B2A2A;
}

body {
    background-color: #F2F2F2;
    margin: auto;
}

h1 {
    color: #2B2A2A;
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #706F6F;
    padding: 0% 5% 0% 5%; /*U R D L*/
}

.footer .contact{
    text-align: center;
    
}

.footer ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footer ul li {
    display: inline;
}

.footer ul li a{
    font-weight: bold;
    text-decoration: none;
}

.footer ul li a:hover{
    color: #706F6F;
    background-color: #F1E0A0;
}

.main_image {
    width: 100%
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0CD4E;
    padding: 0% 5% 0% 5%; /*U R D L*/
}

.menu ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.menu ul li {
    display: inline;
}

.menu ul li a{
    font-weight: bold;
    text-decoration: none;
}

.menu ul li a:hover{
    color: #706F6F;
    background-color: #F1E0A0;
}

.main_image {
    width: 100%
}

.personal_brief {
    display: flex;
    align-items: center;
    padding: 2%;
    
}

.personal_brief img {
    width: 25%;
    height: 25%;
    box-shadow: 0px 0px 10px;
}

.personal_brief div {
    padding: 0% 5% 0% 5%
}

.gallery-slideshow {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap
}

.gallery-slideshow img{
    width: 30%;
    height: 30%;
}






.horizontal-scrolling-items {
    height: 200px;
    column-gap: 10px;
    display: flex;
}

.horizontal-scrolling-items__item {
  height: 100%;
  width: 200%;
  background-size: cover;
}

@keyframes infiniteScroll {
  from {transform: translateX(0) }
  to {transform: translateX(calc(0px - 50% - 25px));}
}

.horizontal-scrolling-items {
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.item1 {
  background-image: url("Images/ant_heads/ant1.jpg");
}

.item2 {
  background-image: url("Images/ant_heads/ant2.jpg");
}

.item3 {
  background-image: url("Images/ant_heads/ant3.jpg");
}

.item4 {
  background-image: url("Images/ant_heads/ant4.jpg");
}

.item5 {
  background-image: url("Images/ant_heads/ant5.jpg");
}