/*********** Base Style ***********/

/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: #2B2A2A;
}

body {
    background-color: #F2F2F2;
    margin: auto;
    overflow-x: hidden;
}

h1 {
    font-size: 28px;
    cursor: pointer;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: #F0CD4E;
    padding: 10px 30px 10px 30px;
    width: 160px;
    transition: all 250ms ease-out;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #F1E0A0;
    width: 220px;
}

.CENTER {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PAGE-TITLE {
    text-align: center;
    font-size: 48px;
}

/*********** Header Menu ***********/

/* Website header title and navigation menu */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0CD4E;
    padding: 0% 5% 0% 5%;
    /*U R D L*/
}

/* Header title */
.header-container h1 {
    color: #2B2A2A;
}

/* Navigation menu */
.header-container ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 0px 20px 0px 20px;
}

/* Removing bullet points */
.header-container ul li {
    display: inline;
}

/* Navigation menu text style */
.header-container ul li a {
    font-weight: bold;
    text-decoration: none;
    position: relative; /* Positioning for ::after */
    font-size: 18px;
}

/* Add line beneath text with centered animation */
.header-container ul li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 2px; 
    background-color: #000000; 
    transition: width 0.3s ease;
}

.header-container ul li a:hover::after {
    width: 100%;
}

.selected {
    color: #706F6F;
    font-weight: bold;
    text-decoration: none;
}

.menu-bar {
    display: none;
}

/* Mobile */
@media screen and (max-width: 760px) {
    .header-container ul {
        display: none;
        width: auto;
        justify-content: space-between;
        flex-direction: column;
    }

    .menu-bar {
        display: block;
        width: 32px;
        cursor: pointer;
    }
}

/*********** Main Hook Image ***********/

@keyframes breath {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
    }
}

.main-image-container {
    width: 100%;
    overflow: hidden;
}

.main-image-container img {
    width: 100%;
    animation: breath 15s ease; 
    transform-origin: center; 
}


/*********** Personal Brief ***********/

.personal-brief {
    display: flex;
    align-items: center;
    padding: 25px;
}

.personal-brief img {
    width: 300px;
    box-shadow: 0px 0px 10px;
}

.personal-brief-text {
    padding: 25px;
    max-width: 620px;
}

.personal-brief-text p {
    text-align: justify;
}

/* Mobile */
@media screen and (max-width: 620px) {
    .personal-brief {
        flex-direction: column;
        text-align: center
    }
}

/*********** Brief static Gallery ***********/

.gallery-slideshow {
    display: flex;
    justify-content: space-around;
    background-color: black;
    overflow: hidden;
}

.gallery-slideshow img {
    transition: all 250ms ease-out;
}

.gallery-slideshow .top {
    width: 25%;
    object-fit: cover;
}

.gallery-slideshow .bottom {
    width: 18%;
    object-fit: cover;
}

/* Animating mouse hover to enlarge imgs */
.gallery-slideshow img:hover {
    scale: 1.2;
    transform: 10px;
}

/*********** Gallery slideshow ***********/
.horizontal-scrolling-wrapper {
    background-color: #000;
}

.horizontal-scrolling-items {
    display: flex;
    height: auto;
    column-gap: 3%;
}

.item {
    max-height: auto;
    max-width: auto;
    background-size: cover;
}

@keyframes infiniteScroll {
    from {
        transform: translateX(0%)
    }

    to {
        transform: translateX(calc(0px - 50% - 25px));
    }
}

.horizontal-scrolling-items {
    animation-name: infiniteScroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.horizontal-scrolling-items img {
    max-width: 100%;
    max-height: 100%;
}

/*********** Footer ***********/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #706F6F;
    padding: 0% 5% 0% 5%;
    /*U R D L*/
}

.footer .contact {
    text-align: center;

}

.footer ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 0px 20px 0px 20px;
}

.footer ul li {
    display: inline;
}

.footer ul li a {
    font-weight: bold;
    text-decoration: none;
    position: relative; /* Positioning for ::after */
    font-size: 18px;
}

.footer ul li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0; 
    height: 2px; 
    background-color: #000000; 
    transition: width 0.3s ease;
}

.footer ul li a:hover::after {
    width: 100%;
}

/* Mobile */
@media screen and (max-width: 620px) {
    .footer ul {
        display: flex;
        width: auto;
        justify-content: space-between;
        flex-direction: column;
    }
}